.main-search{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: bisque;
    width: 100%;
    border-radius: 9px;
    height: 7vh;
  }
  
  .main-search > input {
    font-family: Mulish;
    margin-left: 15px;
    width: 89%;
    border-radius: 6px;
    border: none;
    height: 70%;
    padding-left: 10px;
    font-size: 20px;
    outline: none;
  }