<div class="wrapper">
    <div class="register">
        <a class="exit-btn" routerLink="/login">X</a>
        <div class="register-title">Register</div>
    <form [formGroup]="registerModel" autocomplete="off" (submit)="onSubmit()" class="register-content">
        <label for="input-email">Email</label>
        <input 
            id="input-email"
            type="email" 
            placeholder="input email here"
            formControlName="Email">
        <label for="input-firstName">Name</label>
        <input 
            id="input-firstName"
            type="text" 
            placeholder="input name here"
            formControlName="Name">
        <label for="input-lastName">Surname</label>
        <input 
            id="input-lastName"
            type="text" 
            placeholder="input surname here"
            formControlName="Surname">
        <label for="input-userName">Username</label>
        <input 
            id="input-userName"
            type="text" 
            placeholder="input surname here"
            formControlName="Username">
        <label for="input-age">Age</label>
        <input 
            id="input-age"
            type="number" 
            placeholder="input age here"
            formControlName="Age">
        <div formGroupName="Passwords" class="passwords-block">
            <label for="input-password"  class="password-label">Password</label>
            <input 
                id="input-password"
                type="password" 
                placeholder="input password here"
                formControlName="Password"
                class="password-input">
            <label for="input-confPassword" class="password-label">Confirm password</label>
            <input 
                id="input-confPassword"
                type="password"
                placeholder="input password here"
                formControlName="ConfirmPassword"
                class="password-input">
        </div>
        <br>
        <div class="register-btns">
            <button type="submit" [disabled]="!registerModel.valid">Register</button>
        </div>
    </form>
    </div>  
</div>