<div class="container">
    <div class="blog-content">
      <a class="exit-btn" routerLink='' style="margin-right: 17px;">X</a>
      <div class="blog-header">
        <p><b>{{ blogName }}</b></p>
        <a id="create" class="link-btn" style="margin-right: 3px;" *ngIf="isBlogCreated" (click)="createBlog()">Create blog</a>
        <a class="link-btn" style="margin-right: 3px;" routerLink="/createPost">Add post</a>
      </div>  
      <div class="blog-posts">
        <app-posts></app-posts>
      </div>
    </div>
  </div>
