<div class="wrapper">
  <div class="login">
    <a class="exit-btn" routerLink="">X</a>
    <div class="login-title">Log in</div>
    <form class="login-content" [formGroup]="loginModel" (submit)="onSubmit()">
      <div>Email</div>
      <input placeholder='input email here'autocomplete="off" (submit)="onSubmit()" formControlName="Email"/>
      <div>Password</div>
      <input type="password" placeholder='input password here' formControlName="Password"/>
      <div class="login-btns">
        <button type="submit" [disabled]="!loginModel.valid">Log in</button>  
        <a class="login-link" routerLink="/register">Register</a>
      </div>
    </form>
  </div>
</div> 
