  .post{
    position: relative;
    width: 70%;
    margin: auto;
    background: bisque;
    height: 90vh;
    border-radius: 35px;
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    width: 80%;
    height: 85%;
    margin: auto;
    border-radius: 12px;
    background: darkturquoise;
    overflow: auto;

    padding: 5px;
    width: 90%;
    margin: 0 auto;
    background: beige;
    height: auto;
    margin-top: 15px;
    border-radius: 10px;
  }
  .post-subtitle{
    margin-bottom: 10px;
  }
  .link-btn{
    text-decoration: none;
    color: black;
    margin-right: 15px;
    height: 24px;
    width: 100px;
    font-family: Mulish;
    border-radius: 14px;
    cursor: pointer;
    border: none;
    background: darkturquoise;
    font-size: 16px;
    text-align: center;
  }

  .special-btn{
    margin: 10px;
    height: 30px;
    width: 150px;
  }

  .post-input {
    font-family: Mulish;
    margin-left: 15px;
    width: 60%;
    border-radius: 6px;
    height: 25px;
    border: none;
    padding-left: 10px;
    margin-bottom: 15px;
    font-size: 15px;
    outline: none;
  }